<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra</title>
</head>
<body>
    <h1>Registro de compra</h1>

    <form action="/agregar" method="post">

        Id_Producto:
        <input type="number" name="idproductoc" id="idproductoc"><br><br>

        Cantidad:
        <input type="number" name="cantidadc" id="cantidadc"><br><br>

        Precio:
        <input type="number" name="precioc" id="precioc"><br><br>

        Fecha:
        <input type="date" name="fechac" id="fechac"><br><br>

        <input type="submit" value="Agregar">
    </form>
</body>
</html>